.carousel-control-next-icon:after {
    content: ">";
    font-size: 6.4rem;
    color: ghostwhite;
  }
  
  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 6.4rem;
    color: ghostwhite;
  }
  
  .carousel-indicators li {
    background-color: ghostwhite;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    margin-right: 0.45rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    opacity: 0.9;
    background-image: none;
  }

  #indicators {
      bottom: -75px;
  }