.breadcrumb_part {
  background-image: url(/img/essentials/cover/temp_category_cover.png);
  background-size: 1600px;
  background-position: 25% 30%;
  height: 60px;
}

 .homepage {
  background-image: url(/img/essentials/cover/mystical_chakra.jpg);
  background-size: 1600px;
  background-position: 25% 30%;
  height: 240px;
}

.newsletter_section {
  background-color: white;
}

.issue_year_month {
  font-size: 3.2rem;
  font-weight: bold;
  color: #dfc98c;
}

.issue_description {
  position: relative;
  top: 0.25em;
  color: white;
  font-size: 1.25rem;
}

@media screen and (min-width: 0) and (max-width: 991px) {
  .issue_info {
    margin-top: 2em;
  }
}

.banner_part {
  position: relative;
  top: 2em;
}

.banner_img {
  margin-right: 5em;
}

.banner_img > .issue-image {
  max-height: 200px;
}

.issue_img {
  min-width: 100%;
  max-width: 100%;
  min-height: 95%;
  max-height: 95%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .banner_img > .issue-image {
    max-height: 120px;
  }
}

/** NAVIGATION BAR START */

.main_menu .home_menu .menu_fixed {
  background-color: black;
}

.main_menu .main-menu-item ul li .nav-link:hover {
  text-shadow: none;
}

.navbar {
  background-color: black;
}
.navbar-collapse {
  background-color: black;
}

.home_menu {
  background-color: black;
}

.nav-link {
  color: #dfc98c !important;
}

.navbar-light .navbar-toggler {
  color: #dfc98c !important;
}

.navbar-toggler-color {
  color: #dfc98c !important;
}

.dropdown .dropdown-item:hover {
  color: black !important;
}

.footer_part .social_icon > a:hover {
  background-color: black;
}

/** NAVIGATION BAR END */

.events-item img {
  min-height: 400px;
  max-height: 480px;
}

.events-carousel-control-prev,
.events-carousel-control-next {
  color: black;
}

body {
  width: 100%;
}

/** NEWSLETTER PART */

.issue-image {
  position: relative;
  top: 5.5em;
  max-height: 600px;
  max-width: 350px;
}

.banner_text {
  position: relative;
  top: -2.5em;
}

/** FEATURED ARTICLES SECTION */

.featured_article_slide {
  margin: 0 0;
  padding: 0 0;
  background-color: black;
}

.featured_article_img_section {
  padding: 0 0;
  margin: 0 0;
}

.featured_article_caption {
  margin: 2em;
  margin-right: 4em;
  color: white;
  font-style: italic;
  font-size: 1.15rem;
}

.featured_article_title {
  font-size: 1.35rem;
  font-weight: bold;
  color: white;
}

.featured_article_author {
  position: relative;
  top: 0.25em;
  color: white;
  font-size: 1.15rem;
}
.featured_article_meta_data {
  color: white;
  position: relative;
  top: 0.25em;
}

.featured_article_img {
  min-height: 440px;
  min-width: 100%;
  max-height: 440px;
  max-width: 100%;
}

.featured_article_button {
  position: relative;
  top: 2em;
  background-color: black;
  color: #dfc98c;
  border-color: #dfc98c;
}

.featured_article_button:hover {
  background-color: #dfc98c;
  color: black;
  border-color: black;
}

@media (min-width: 0) and (max-width: 1199px) {
  .featured_article_button {
    position: relative;
    margin-bottom: 5em;
  }
}
/* TYPOGRAPHY */

.italic {
  font-style: italic;
}

.featured_next,
.featured_prev {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  font-weight: bold;
  color: #dfc98c;
  font-size: 1.4rem;
  border-color: #dfc98c;
  border-width: 3px;
  border-style: groove;
}

.featured_next::after {
  content: ">";
}

.featured_prev::after {
  content: "<";
}

.featured_articles_nav {
  position: relative;
  top: 2em;
}

@media (min-width: 0) and (max-width: 992px) {
  .featured_next,
  .featured_prev {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (min-width: 0) and (max-width: 420px) {
  :root {
    font-size: 12px;
  }
}

.disabled {
  pointer-events: none;
}

/** CATEGORY PAGES */

.blog_details {
  background-color: black;
}

.blog_details p {
  color: white;
}

.blog_details h2 {
  color: white;
}

.blog-info-link > li {
  color: #dfc98c;
}

.blog-info-link > li > a {
  color: #dfc98c !important;
}

i::before {
  color: #dfc98c;
}

.card-img {
  max-height: 480px;
}

/** CONTACT US PAGE */
.form-cotact-button {
  background-color: white;
  color: black;
  border-color: black;
}

.form-cotact-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

